body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

/* Overall header layout */
header {
    display: flex;
    flex-direction: column; /* Column layout for the header */
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

/* First row: website name and dropdown menu */
#header-row {
    display: flex;
    justify-content: space-between; /* Space between the elements */
    align-items: center; /* Center items vertically */
    width: 100%;
}

/* Website name styling */
#website-name {
    font-size: 24px;
    margin: 0;
}

/* Dropdown styling */
#country-dropdown {
    width: 300px; /* Adjust as needed */
}

/* Second row: Slider */
#header-slider {
    margin-top: 20px;
    width: 100%; /* Ensure the slider spans the full width */
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 20px;
    font-size: 14px;
    gap: 15px;  
    
    a {
        color: #1abc9c;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}
