:root {
    --primary-color: #111827;
    --secondary-color: #1f2937;
    --tertiary-color: #0f141b;
    --quaternary-color: #135836;
    --quinary-color: #4b5563;
    --text-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: none !important;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    font-family: Arial, sans-serif;
}

hr {
    border: 1px solid var(--tertiary-color);
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

/*******************/
/* Header elements */
/*******************/
.header {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: var(--secondary-color);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.website-name {
    font-size: 24px;
    margin: 0;
}

.website-description {
    font-size: 15px;
    font-style: italic;
    margin: 0;
}

/*******************/
/* Tabs elements */
/*******************/
.tab-parent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
}

.custom-tab {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--quinary-color) !important;
}

.custom-tab--selected {
    text-decoration: underline;
    border-top: 3px solid var(--quaternary-color) !important
}

/*******************/
/* Main Content    */
/*******************/
.slider-container {
    padding-top: 10px !important;
}

.graph-container {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 100% !important;
}

.graph {
    height: 80vh !important;
    width: 100% !important; 
}

/*******************/
/* Footer elements */
/*******************/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 14px;
    gap: 10%;  
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
